<html>
<head>
    <meta charset="utf-8">
    <link href="http://www.google.com/design/spec/static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://josecarlosaragon.hol.es/estilos.css" rel='stylesheet' type='text/css'>
    
    <title>Programa uso APIs</title>
</head>
<body>
    <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
    'mobile': 72,
    'desktop-sm': 72,
    'default': 192
  }
}">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
    <div class="header-title">      <span class="section-title">Practica API</span>
      <span class="chapter-title">Listado de ficheros</span>
    </div>
  </div>
</header>
    <br>
    <h1>Listado de ficheros</h1><br>
    {%for file in files%}
        <p> {{ file }}</p>
    {% endfor %}
    <p><h2>Introduzca el nombre del fichero que desea subir a google drive</h2></p>
    <form action="/subirDrive" method="POST">
        <input type="text" id="fichero" name="fichero">
        <input type="submit" value="Subir">
    </form>

</body>
