<html>
<head>
    <meta charset="utf-8">
    <link href="http://www.google.com/design/spec/static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://josecarlosaragon.hol.es/estilos.css" rel='stylesheet' type='text/css'>
    
    <title>Introducir valores necesarios para descargar imagenes de Tumblr</title>
</head>
<body>
    <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
    'mobile': 72,
    'desktop-sm': 72,
    'default': 192
  }
}">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
    <div class="header-title">      <span class="section-title">Introducir valores necesarios para descargar imagenes de Tumblr</span>
      <span class="chapter-title">Búsqueda</span>
    </div>
  </div>
</header>

		
		    <form action="/tumblr" method="POST">
		   	Usuario de Tumblr: <input type="text" name="user">
			Post de inicio: <input type="text" name="offset">
			Peticiones: <input type="text" name="peticiones">
			URL carpeta destino PC: <input type="text" name="destino">
			nombre imagenes: <input type="text" name="nombrefoto">
			<input type="submit" name="my-form" class="button buttonBlue" value="mandar valores">
		    </form>


</body>
